<div class="container">
  <div>
    <div class="body">
      <div id="crud-buttons">
        <button class="bi bi-plus new-btn" (click)="addElement()">New</button>
      </div>
      <div id="view-materials" class="view">
        <div [hidden]="elementsPresent()" class="message">
          {{noElementsMessage}}
        </div>
        <div *ngFor="let element of currentElements">
          <div  class="element-div">
            <div class="element">
              <span class="bi bi-pencil pencil-icon" (click)="editElement(element)"></span>
              <span class="bi bi-trash trash-icon" (click)="deleteElement(element.id)"></span>
            <div class="element-div">{{element.name}}</div>
            <div class="element-div">{{element.quantity}} m<sup>3</sup></div>
            </div>
          </div>
        </div>
        <div class="titles total-cost">
          <label>TotalCost: {{this.totalCost}}</label>
        </div>
      </div>
      <div [hidden]="!showConfigWindow">
        <app-material-config-window (newElementsEmitter)=getCurrentElements($event)></app-material-config-window>
      </div>
      <div id="total-cost">

      </div>
    </div>
  </div>
</div>
