
.container {
  padding: 100px;
  margin-left: 300px;
  margin-right: 300px;
}

.new-btn{
  background: cadetblue;
  text-align: center;
  width: 90px;
  height: 40px;
  border-radius: 6px;
  font-family: sans-serif;
  font-size: large;
  font-weight: bold;
  color: whitesmoke;
}
.body{
  width: 1000px;
  height: 500px;
  padding: 50px;
  border: 1px solid black;
  background: black;
}

.message{
  position: center;
  padding: 20px;
  font-size: small;
  font-style: italic;
  color: wheat;
  text-align: center;
  border-radius: 8px;
}
.element {
  width: 100%;
  margin: 0 0;
  color: saddlebrown;
  font-weight: bold ;
  font-family: "sans-serif";
  padding: 10px 0 0 10px;
  text-align: center;
  background: black;
  position: relative
}

.view{
  width: 300px;
  height: 300px;
  border: 1px solid black;
  padding: 30px 8px 30px 5px;
  margin: 20px;
  float: left;
  background: #181818;
  position: relative;
}

.pencil-icon{
  right: 30px;
  padding: 5px;
  color: slategrey;
  position: absolute;
}
.trash-icon{
  padding: 5px;
  right: 5px;
  color: darkred;
  position: absolute;
}

.titles{
  color: gray;
  font-size: large;
  padding: 5px;
}
.total-cost{
  position: absolute;
  bottom: 0;
}

.element-div{
  padding: 5px;
}



